h1 {
    font-family: 'Fira Code', monospace;
    margin-top: 100px;
    text-align: center;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #8f8ea3;
}

/* button {
    padding: 10px 20px;
    font-size: 16px;
}

#message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
} */